.backImg {
    position: absolute;
    height: auto;
    width: 100vmax;
    z-index: 0;
}

.completeLogoContainer,
.downButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
}

.downButtonContainer {
    height: 100px;
}

.completeLogoContainer {
    width: 100%;
    height: auto;
    flex: 1;
    text-align: center;
}

.completeLogoContainer > img,
.downButtonContainer > img {
    position: relative;
    z-index: 2;
}

.verticalLogo {
    --width: 100vw;
    max-width: 400px;
    height: 100%;
}

.horizontalLogo {
    --width: 100vh;
    max-width: 400px;
    height: 100%;
}

.mobileLogo {
    max-width: 100%;
    min-width: calc(var(--width) - 50px);
}

.desktopLogo {
    min-width: 400px;
}