.backImg {
    position: absolute;
    height: auto;
    width: 100vmax;
    z-index: 0;
}

.completeLogoContainer,
.downButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
}

.downButtonContainer {
    height: 100px;
}

.completeLogoContainer {
    width: 100%;
    height: auto;
    flex: 1;
    text-align: center;
}

.completeLogoContainer > img,
.downButtonContainer > img {
    position: relative;
    z-index: 2;
}

.verticalLogo {
    max-width: 400px;
    width: calc(100vw - 50px);
    height: 100%;
}

.horizontalLogo {
    max-width: 400px;
    width: calc(100vh - 50px);
    height: 100%;
}