.button {
    transform: translateY(0);
    animation: ressort .5s ease-out 5s;
}

@keyframes ressort {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}